@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-forest-950 text-slate-100 font-sans antialiased min-h-screen selection:bg-emerald-500 selection:text-forest-950;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0d261c;
}

::-webkit-scrollbar-thumb {
  background: #265f49;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d9470;
}
